

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

.footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer__link {
    text-decoration: none;
}

.footer__content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.footer__contacts h1 {
    margin-bottom: 0.75rem;
}

.footer__social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

.footer__link i {
    font-size: 1.6rem;
}

.footer__link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#github {
    background-color: #151B23;
}

#linkedin {
    background-color: #0A66C2;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-link:hover {
    color: #7f37c9;
}

.footer__subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__subscribe p {
    color: var(--color-neutral-30);
}

.input__group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

.input__group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

.input__group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

.input__group button:hover {
    opacity: 0.8;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .footer__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 475px) {
    .footer__content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}